


.*
/*
!/.gitignore



!/orchestro
!/.ansible-lint
!/ansible.cfg

!/.github
!/.yamllint
!/.readthedocs.yaml
!/docs/
/docs/*
!/docs/conf.py
!/docs/index.rst
!/LICENSE
!/Makefile
!/makefile.py
!/README.md
!/reqs-develop.txt
!/reqs-install.txt
!/reqs-package.txt
!/setup.cfg



__pycache__
*.pyc
