


[defaults]

inventory = ${ORCHE_ROOT}orchestro/inventory
inventory_plugins = ${ORCHE_ROOT}orchestro/inventory
library = ${ORCHE_ROOT}orchestro/library:${ORCHE_EXTRA_LIBRARY}
playbook_dir = ${ORCHE_ROOT}orchestro/playbooks:${ORCHE_EXTRA_PLAYBOOKS}
roles_path = ${ORCHE_ROOT}orchestro/roles:${ORCHE_EXTRA_ROLES}
filter_plugins = ${ORCHE_ROOT}orchestro/filters:${ORCHE_EXTRA_FILTERS}
action_plugins = ${ORCHE_ROOT}orchestro/actions:${ORCHE_EXTRA_ACTIONS}
callback_plugins = ${ORCHE_ROOT}orchestro/callbacks:${ORCHE_EXTRA_CALLBACKS}

local_tmp = $HOME/.orchestro/ansible/tmp
remote_tmp = $HOME/.orchestro/ansible/tmp

vault_identity_list =
 default@orchestro/execution/vault.py,
 secrets@orchestro/execution/vault.py

jinja2_extensions = jinja2.ext.do, jinja2.ext.i18n, jinja2.ext.loopcontrols

display_skipped_hosts = False
error_on_undefined_vars = True
inject_facts_as_vars = False



[tags]

run = donothing



[inventory]

unparsed_is_failed = True
enable_plugins = orche, yaml

ignore_patterns = ^_\S+$, ^test$



[ssh_connection]

pipelining = True
