---
# Functions and routines associated with Enasis Network Orchestrations.

# This file is part of Enasis Network software eco-system. Distribution
# is permitted, for more information consult the project license file.






- name: restart enhomie

  ansible.builtin.systemd:
    name: '{{ enhomie_service }}'
    state: restarted

  become: true

  when: enhomie_autostart is true

  tags: always
