---



database: >-
  sqlite:///{{ enrobie_directory -}}
  /cache/{{ enrobie_unique }}.db



{% if enrobie_repo_path %}
enconfig:
  paths:
    - {{ enrobie_directory }}/repos/{{ enrobie_unique }}
{% endif %}



{% if enrobie_console
    or enrobie_logging %}
{%   if enrobie_logging %}
enlogger:
  file_level: info
  file_path: >-
    {{ enrobie_directory -}}
    /logs/{{ enrobie_unique }}.log
{%   endif %}
{%   if enrobie_console %}
  stdo_level: info
{%   endif %}
{% endif %}



{% if enrobie_config %}
{{ enrobie_config | to_yaml(indent=2) }}
{% endif %}
