---
# Functions and routines associated with Enasis Network Orchestrations.

# This file is part of Enasis Network software eco-system. Distribution
# is permitted, for more information consult the project license file.






- name: Remove virtual env when doing reinstall

  ansible.builtin.file:
    path: '{{ enrobie_directory }}/venv'
    state: absent

  become: true

  tags: reinstall






- name: Install the package in the virtual env

  ansible.builtin.pip:
    name: '{{ enrobie_package }}'
    virtualenv: >-
      {{ enrobie_directory }}/venv
    virtualenv_command: >-
      {{ enrobie_python }} -m venv
    version: >-
      {{ enrobie_version | default(omit) }}

  become: true
  become_user: '{{ enrobie_user }}'

  tags: always






- name: Install PydanticAI in the virtual env

  ansible.builtin.pip:
    name: '{{ item }}'
    virtualenv: >-
      {{ enrobie_directory }}/venv
    virtualenv_command: >-
      {{ enrobie_python }} -m venv
    state: present

  loop:
    - pydantic-ai-slim
    - pydantic-ai-slim[anthropic]
    - pydantic-ai-slim[openai]

  loop_control:
    label: '{{ item }}'

  become: true
  become_user: '{{ enrobie_user }}'

  tags: always
